.u-section-1 {
  background-image: url("images/Untitled5.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-group-1 {
  width: 516px;
  min-height: 449px;
  margin: 199px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-1 .u-text-1 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-family: "Merienda One";
  font-size: 3.75rem;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-family: "Merienda One";
  margin: 30px 0 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-size: 1.25rem;
  background-image: none;
  margin: 30px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 425px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
  }

  .u-section-1 .u-text-2 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 745px;
  }

  .u-section-1 .u-group-1 {
    width: 440px;
    margin-top: 143px;
    margin-bottom: 80px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 659px;
  }

  .u-section-1 .u-group-1 {
    width: 306px;
    min-height: 335px;
    margin-top: 162px;
    margin-bottom: 65px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    min-height: 368px;
    margin-top: 30px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }
}.u-section-2 {
  background-image: linear-gradient(#2a2a48, #ff4857);
}

.u-section-2 .u-sheet-1 {
  min-height: 607px;
}

.u-section-2 .u-shape-1 {
  width: 15px;
  height: 140px;
  background-image: none;
  margin: -98px auto 0 0;
}

.u-section-2 .u-image-1 {
  width: 340px;
  height: 800px;
  margin: -659px auto 0 800px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 7px;
  margin-bottom: 65px;
  position: relative;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 406px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: -30px auto 0 0;
}

.u-section-2 .u-text-2 {
  margin-left: 0;
  font-size: 1.25rem;
  margin-top: 50px;
  margin-bottom: 0;
}

.u-section-2 .u-shape-2 {
  height: 15px;
  width: 320px;
  margin: 57px auto 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  margin: -17px 0 0;
}

.u-section-2 .u-image-2 {
  min-height: 400px;
  background-image: url("images/Untitled6.png");
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 537px;
  }

  .u-section-2 .u-shape-1 {
    width: 12px;
  }

  .u-section-2 .u-image-1 {
    width: 420px;
    height: 823px;
    margin-top: -697px;
    margin-left: 600px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 335px;
  }

  .u-section-2 .u-shape-2 {
    width: 253px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-2 .u-image-2 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 460px;
  }

  .u-section-2 .u-shape-1 {
    width: 9px;
  }

  .u-section-2 .u-image-1 {
    width: 282px;
    height: 738px;
    margin-top: -659px;
    margin-left: 380px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-shape-2 {
    width: 180px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-image-2 {
    min-height: 253px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1345px;
  }

  .u-section-2 .u-image-1 {
    width: 240px;
    height: 629px;
    margin-top: -541px;
    margin-left: 200px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    min-height: 569px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 923px;
  }

  .u-section-2 .u-shape-1 {
    width: 7px;
  }

  .u-section-2 .u-image-1 {
    width: 229px;
    height: 455px;
    margin-top: -322px;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    min-height: 358px;
  }
}.u-section-3 {
  min-height: 650px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-image-1 {
  min-height: 650px;
  background-image: url("images/240336P322BZ662.jpg");
}

.u-section-3 .u-layout-cell-2 {
  min-height: 650px;
  background-image: linear-gradient(#2a2a48, #ff4857);
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 100px;
}

.u-section-3 .u-text-1 {
  margin: 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-3 .u-text-2 {
    font-weight: normal;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-container-layout-2 {
    padding-left: 38px;
    padding-right: 38px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-image-1 {
    min-height: 335px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 335px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 28px;
    padding-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-container-layout-2 {
    padding-left: 18px;
    padding-right: 18px;
  }
}.u-section-4 {
  background-image: linear-gradient(#2a2a48, #ff4857);
}

.u-section-4 .u-sheet-1 {
  min-height: 220px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 36px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 198px;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px 60px;
}

.u-section-4 .u-text-1 {
  font-size: 1.875rem;
  margin: 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 0 10px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 198px;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px 60px;
}

.u-section-4 .u-text-3 {
  font-size: 1.875rem;
  margin: 0 280px 0 0;
}

.u-section-4 .u-text-4 {
  font-size: 1.125rem;
  margin: 20px 66px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 163px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 180px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 130px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-3 {
    margin-right: 0;
  }
}